services:
  - type: worker
    name: mindmate
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    plan: free
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: REDIS_URL
        sync: false
        value: redis://red-c2qgq9b321ks73c6p7g0:6379
      - key: EMBEDDING_MODEL
        sync: false
        value: all-MiniLM-L6-v2

  - type: redis
    name: mindmate-redis
    plan: free
    ipAllowList:
      - sourceIp: 0.0.0.0/0
        description: allow all
